In [59]:
from arcgis.gis import GIS
import cenpy
import pandas as pd

# Economic distress index 

Economic distress index using 2017-2021 American Community Survey (ACS) 5-year county level estimates. The index will include the following variables:

- Percent households with $30,000 or less income

- Percent population with less than a High School degree for population 25 Years and Over

- Percent population living below poverty in the past 12 months

- Percent unemployed for the population 16 Years and Over

- Percent households with cash public assistance or Food Stamps/SNAP

- Percent households with Supplemental Security Income (SSI)

## Connect to the Census Bureau API

In [11]:
api_database = 'ACSDT5Y2021'

### Explain Data Being Accessed

[cenpy.explorer.explain](https://cenpy-devs.github.io/cenpy/generated/cenpy.explorer.explain.html#cenpy.explorer.explain)

In [16]:
ex = cenpy.explorer.explain(api_database)

print([k for k  in ex.keys()][0])
print('\n', [v for v in ex.values()][0])

American Community Survey: 5-Year Estimates: Detailed Tables 5-Year

 The American Community Survey (ACS) is an ongoing survey that provides data every year -- giving communities the current information they need to plan investments and services. The ACS covers a broad range of topics about social, economic, demographic, and housing characteristics of the U.S. population. Summary files include the following geographies: nation, all states (including DC and Puerto Rico), all metropolitan areas, all congressional districts, all counties, all places, and all tracts and block groups. Summary files contain the most detailed cross-tabulations, many of which are published down to block groups. The data are population and housing counts. There are over 64,000 variables in this dataset.

### Create `APIConnection` Object Instance

[cenpy.remote.APIConnection](https://cenpy-devs.github.io/cenpy/generated/cenpy.remote.APIConnection.html#cenpy.remote.APIConnection)

In [13]:
api_conn = cenpy.remote.APIConnection(api_database)

api_conn

Connection to American Community Survey: 5-Year Estimates: Detailed Tables 5-Year (ID: https://api.census.gov/data/id/ACSDT5Y2021)

### Retrieve Data

#### List of Variables to Retrieve

In [2]:
req_vars = [
    'B19001_001', # full households
    'B19001_002' , # less than 10k
    'B19001_003' , # between 10-14k
    'B19001_004' , # between 15-19k
    'B19001_005' , # between 20-24k
    'B19001_006' , # between 25-29k

    'B19001B_001', # african american total households
        'B19001B_002' , # less than 10k
        'B19001B_003' , # between 10-14k
        'B19001B_004' , # between 15-19k
        'B19001B_005' , # between 20-24k
        'B19001B_006' , # between 25-29k

    'B19001C_001' , # american indian and alaska native total households
        'B19001C_002' , # less than 10k
        'B19001C_003' , # between 10-14k
        'B19001C_004' , # between 15-19k
        'B19001C_005' , # between 20-24k
        'B19001C_006' , # between 25-29k

    'B19001D_001' , # asian total households
        'B19001D_002' , # less than 10k
        'B19001D_003' , # between 10-14k
        'B19001D_004' , # between 15-19k
        'B19001D_005' , # between 20-24k
        'B19001D_006' , # between 25-29k

    'B19001E_001' , # native hawaiian or pacific islander total households
        'B19001E_002' , # less than 10k
        'B19001E_003' , # between 10-14k
        'B19001E_004' , # between 15-19k
        'B19001E_005' , # between 20-24k
        'B19001E_006' , # between 25-29k

    'B19001H_001' , # nonhispanic white total households
        'B19001H_002' , # less than 10k
        'B19001H_003' , # between 10-14k
        'B19001H_004' , # between 15-19k
        'B19001H_005' , # between 20-24k
        'B19001H_006' , # between 25-29k

    'B19001I_001' , # hispanic or latino total households
        'B19001I_002' , # less than 10k
        'B19001I_003' , # between 10-14k
        'B19001I_004' , # between 15-19k
        'B19001I_005' , # between 20-24k
        'B19001I_006' , # between 25-29k

    'B15003_001' , #education attainment, total, for pop 25 years and over
        'B15003_025', # Doctorate degree
        'B15003_024', # Professional school degree
        'B15003_023', # Master's degree
        'B15003_022', # Bachelor's degree
        'B15003_021', # Associate's degree
        'B15003_020', # some college- 1 or more year
        'B15003_019', # some college- less than 1 year
        'B15003_018', # GED or alternative credential
        'B15003_017', # high school diploma

    'B17001_001', # Poverty status in the past 12 months
        'B17001_002', # Income in the past 12 months below poverty level

    'B23025_002', # in Labor Force - for the population 16 years and over
        'B23025_005', # Unemployed

    'B19058_002', # with cash public assistance or Food Stamps/SNAP
        'B19058_001', #Total estimate

    'B19056_002', # with Supplemental Security Income (SSI)
        'B19056_001', #Total estimate       
]

#### Add `E` to Designate Estimate Variables

In [4]:
req_vars = [f'{var}E' for var in req_vars]

print(req_vars)

['B19001_001E', 'B19001_002E', 'B19001_003E', 'B19001_004E', 'B19001_005E', 'B19001_006E', 'B19001B_001E', 'B19001B_002E', 'B19001B_003E', 'B19001B_004E', 'B19001B_005E', 'B19001B_006E', 'B19001C_001E', 'B19001C_002E', 'B19001C_003E', 'B19001C_004E', 'B19001C_005E', 'B19001C_006E', 'B19001D_001E', 'B19001D_002E', 'B19001D_003E', 'B19001D_004E', 'B19001D_005E', 'B19001D_006E', 'B19001E_001E', 'B19001E_002E', 'B19001E_003E', 'B19001E_004E', 'B19001E_005E', 'B19001E_006E', 'B19001H_001E', 'B19001H_002E', 'B19001H_003E', 'B19001H_004E', 'B19001H_005E', 'B19001H_006E', 'B19001I_001E', 'B19001I_002E', 'B19001I_003E', 'B19001I_004E', 'B19001I_005E', 'B19001I_006E', 'B15003_001E', 'B15003_025E', 'B15003_024E', 'B15003_023E', 'B15003_022E', 'B15003_021E', 'B15003_020E', 'B15003_019E', 'B15003_018E', 'B15003_017E', 'B17001_001E', 'B17001_002E', 'B23025_002E', 'B23025_005E', 'B19058_002E', 'B19058_001E', 'B19056_002E', 'B19056_001E']

#### Get Explanation for Variables

In [70]:
label_series = api_conn.variables[api_conn.variables.index.isin(data_E)]['concept']

label_series

B19001B_002E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001B_001E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001B_006E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001B_005E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001B_004E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001B_003E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19058_001E     PUBLIC ASSISTANCE INCOME OR FOOD STAMPS/SNAP I...
B19058_002E     PUBLIC ASSISTANCE INCOME OR FOOD STAMPS/SNAP I...
B19001H_006E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001H_005E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001H_002E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001H_001E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001H_004E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001H_003E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001C_006E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001C_003E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001C_002E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001C_005E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001C_004E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001C_001E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B17001_001E     POVERTY STATUS IN THE PAST 12 MONTHS BY SEX BY...
B17001_002E     POVERTY STATUS IN THE PAST 12 MONTHS BY SEX BY...
B19001I_006E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001I_005E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001I_004E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001I_003E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001I_002E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001I_001E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001D_004E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001D_003E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001D_002E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001D_001E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001D_006E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001D_005E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B23025_005E     EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS ...
B23025_002E     EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS ...
B15003_025E     EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 Y...
B15003_024E     EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 Y...
B15003_023E     EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 Y...
B15003_022E     EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 Y...
B15003_021E     EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 Y...
B15003_020E     EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 Y...
B15003_001E     EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 Y...
B15003_018E     EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 Y...
B15003_019E     EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 Y...
B15003_017E     EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 Y...
B19001_006E     HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001_002E     HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001_003E     HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001_004E     HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001_005E     HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001_001E     HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001E_001E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001E_002E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001E_003E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001E_004E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001E_005E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19001E_006E    HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 202...
B19056_001E     SUPPLEMENTAL SECURITY INCOME (SSI) IN THE PAST...
B19056_002E     SUPPLEMENTAL SECURITY INCOME (SSI) IN THE PAST...
Name: concept, dtype: object

#### Make Request to Get Data

[cenpy.remote.APIConnection.query](https://cenpy-devs.github.io/cenpy/generated/cenpy.remote.APIConnection.query.html#cenpy.remote.APIConnection.query)

In [71]:
req_cols = ['NAME' , 'GEO_ID'] + req_vars

df = api_conn.query(
    cols=req_cols, 
    geo_unit='county', 
    geo_filter={'state': '*'}
)

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3221 entries, 0 to 3220
Data columns (total 64 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NAME          3221 non-null   object
 1   GEO_ID        3221 non-null   object
 2   B19001_001E   3221 non-null   object
 3   B19001_002E   3221 non-null   object
 4   B19001_003E   3221 non-null   object
 5   B19001_004E   3221 non-null   object
 6   B19001_005E   3221 non-null   object
 7   B19001_006E   3221 non-null   object
 8   B19001B_001E  3221 non-null   object
 9   B19001B_002E  3221 non-null   object
 10  B19001B_003E  3221 non-null   object
 11  B19001B_004E  3221 non-null   object
 12  B19001B_005E  3221 non-null   object
 13  B19001B_006E  3221 non-null   object
 14  B19001C_001E  3221 non-null   object
 15  B19001C_002E  3221 non-null   object
 16  B19001C_003E  3221 non-null   object
 17  B19001C_004E  3221 non-null   object
 18  B19001C_005E  3221 non-null   object
 19  B19001C_006E  3221 non-null   object
 20  B19001D_001E  3221 non-null   object
 21  B19001D_002E  3221 non-null   object
 22  B19001D_003E  3221 non-null   object
 23  B19001D_004E  3221 non-null   object
 24  B19001D_005E  3221 non-null   object
 25  B19001D_006E  3221 non-null   object
 26  B19001E_001E  3221 non-null   object
 27  B19001E_002E  3221 non-null   object
 28  B19001E_003E  3221 non-null   object
 29  B19001E_004E  3221 non-null   object
 30  B19001E_005E  3221 non-null   object
 31  state         3221 non-null   object
 32  county        3221 non-null   object
 33  B19001E_006E  3221 non-null   object
 34  B19001H_001E  3221 non-null   object
 35  B19001H_002E  3221 non-null   object
 36  B19001H_003E  3221 non-null   object
 37  B19001H_004E  3221 non-null   object
 38  B19001H_005E  3221 non-null   object
 39  B19001H_006E  3221 non-null   object
 40  B19001I_001E  3221 non-null   object
 41  B19001I_002E  3221 non-null   object
 42  B19001I_003E  3221 non-null   object
 43  B19001I_004E  3221 non-null   object
 44  B19001I_005E  3221 non-null   object
 45  B19001I_006E  3221 non-null   object
 46  B15003_001E   3221 non-null   object
 47  B15003_025E   3221 non-null   object
 48  B15003_024E   3221 non-null   object
 49  B15003_023E   3221 non-null   object
 50  B15003_022E   3221 non-null   object
 51  B15003_021E   3221 non-null   object
 52  B15003_020E   3221 non-null   object
 53  B15003_019E   3221 non-null   object
 54  B15003_018E   3221 non-null   object
 55  B15003_017E   3221 non-null   object
 56  B17001_001E   3221 non-null   object
 57  B17001_002E   3221 non-null   object
 58  B23025_002E   3221 non-null   object
 59  B23025_005E   3221 non-null   object
 60  B19058_002E   3221 non-null   object
 61  B19058_001E   3221 non-null   object
 62  B19056_002E   3221 non-null   object
 63  B19056_001E   3221 non-null   object
dtypes: object(64)
memory usage: 1.6+ MB

,NAME,GEO_ID,B19001_001E,B19001_002E,B19001_003E,B19001_004E,B19001_005E,B19001_006E,B19001B_001E,B19001B_002E,...,B15003_018E,B15003_017E,B17001_001E,B17001_002E,B23025_002E,B23025_005E,B19058_002E,B19058_001E,B19056_002E,B19056_001E
0,"Autauga County, Alabama",0500000US01001,21856,1213,1051,1062,1324,1048,4228,422,...,2519,10458,57790,7847,27550,752,2360,21856,1325,21856
1,"Baldwin County, Alabama",0500000US01003,87190,4251,3672,2742,3340,3969,7095,647,...,8156,36186,223772,20598,108873,3994,6215,87190,4007,87190
2,"Barbour County, Alabama",0500000US01005,9088,1120,647,870,806,538,4079,800,...,1396,5204,22250,5890,9369,808,2361,9088,963,9088
3,"Bibb County, Alabama",0500000US01007,7083,528,555,434,388,259,1288,324,...,1496,5556,21000,3558,9107,884,1272,7083,480,7083
4,"Blount County, Alabama",0500000US01009,21300,1784,885,943,1082,1164,119,18,...,3265,11019,58323,7720,25844,1554,2323,21300,1862,21300

#### Convert Values to Scalar (Integers)

In [72]:
df[req_vars] = df[req_vars].astype('int') # convert downloaded data to integers

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3221 entries, 0 to 3220
Data columns (total 64 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NAME          3221 non-null   object
 1   GEO_ID        3221 non-null   object
 2   B19001_001E   3221 non-null   int32
 3   B19001_002E   3221 non-null   int32
 4   B19001_003E   3221 non-null   int32
 5   B19001_004E   3221 non-null   int32
 6   B19001_005E   3221 non-null   int32
 7   B19001_006E   3221 non-null   int32
 8   B19001B_001E  3221 non-null   int32
 9   B19001B_002E  3221 non-null   int32
 10  B19001B_003E  3221 non-null   int32
 11  B19001B_004E  3221 non-null   int32
 12  B19001B_005E  3221 non-null   int32
 13  B19001B_006E  3221 non-null   int32
 14  B19001C_001E  3221 non-null   int32
 15  B19001C_002E  3221 non-null   int32
 16  B19001C_003E  3221 non-null   int32
 17  B19001C_004E  3221 non-null   int32
 18  B19001C_005E  3221 non-null   int32
 19  B19001C_006E  3221 non-null   int32
 20  B19001D_001E  3221 non-null   int32
 21  B19001D_002E  3221 non-null   int32
 22  B19001D_003E  3221 non-null   int32
 23  B19001D_004E  3221 non-null   int32
 24  B19001D_005E  3221 non-null   int32
 25  B19001D_006E  3221 non-null   int32
 26  B19001E_001E  3221 non-null   int32
 27  B19001E_002E  3221 non-null   int32
 28  B19001E_003E  3221 non-null   int32
 29  B19001E_004E  3221 non-null   int32
 30  B19001E_005E  3221 non-null   int32
 31  state         3221 non-null   object
 32  county        3221 non-null   object
 33  B19001E_006E  3221 non-null   int32
 34  B19001H_001E  3221 non-null   int32
 35  B19001H_002E  3221 non-null   int32
 36  B19001H_003E  3221 non-null   int32
 37  B19001H_004E  3221 non-null   int32
 38  B19001H_005E  3221 non-null   int32
 39  B19001H_006E  3221 non-null   int32
 40  B19001I_001E  3221 non-null   int32
 41  B19001I_002E  3221 non-null   int32
 42  B19001I_003E  3221 non-null   int32
 43  B19001I_004E  3221 non-null   int32
 44  B19001I_005E  3221 non-null   int32
 45  B19001I_006E  3221 non-null   int32
 46  B15003_001E   3221 non-null   int32
 47  B15003_025E   3221 non-null   int32
 48  B15003_024E   3221 non-null   int32
 49  B15003_023E   3221 non-null   int32
 50  B15003_022E   3221 non-null   int32
 51  B15003_021E   3221 non-null   int32
 52  B15003_020E   3221 non-null   int32
 53  B15003_019E   3221 non-null   int32
 54  B15003_018E   3221 non-null   int32
 55  B15003_017E   3221 non-null   int32
 56  B17001_001E   3221 non-null   int32
 57  B17001_002E   3221 non-null   int32
 58  B23025_002E   3221 non-null   int32
 59  B23025_005E   3221 non-null   int32
 60  B19058_002E   3221 non-null   int32
 61  B19058_001E   3221 non-null   int32
 62  B19056_002E   3221 non-null   int32
 63  B19056_001E   3221 non-null   int32
dtypes: int32(60), object(4)
memory usage: 880.7+ KB

,NAME,GEO_ID,B19001_001E,B19001_002E,B19001_003E,B19001_004E,B19001_005E,B19001_006E,B19001B_001E,B19001B_002E,...,B15003_018E,B15003_017E,B17001_001E,B17001_002E,B23025_002E,B23025_005E,B19058_002E,B19058_001E,B19056_002E,B19056_001E
0,"Autauga County, Alabama",0500000US01001,21856,1213,1051,1062,1324,1048,4228,422,...,2519,10458,57790,7847,27550,752,2360,21856,1325,21856
1,"Baldwin County, Alabama",0500000US01003,87190,4251,3672,2742,3340,3969,7095,647,...,8156,36186,223772,20598,108873,3994,6215,87190,4007,87190
2,"Barbour County, Alabama",0500000US01005,9088,1120,647,870,806,538,4079,800,...,1396,5204,22250,5890,9369,808,2361,9088,963,9088
3,"Bibb County, Alabama",0500000US01007,7083,528,555,434,388,259,1288,324,...,1496,5556,21000,3558,9107,884,1272,7083,480,7083
4,"Blount County, Alabama",0500000US01009,21300,1784,885,943,1082,1164,119,18,...,3265,11019,58323,7720,25844,1554,2323,21300,1862,21300

## Percentage Calculations

### Low Income

In [75]:
# create a new column 'pct_less_than_$30K'
df['pct_less_than_30K'] = df[['B19001_002E', 'B19001_003E', 'B19001_004E', 'B19001_005E', 'B19001_006E']].sum(axis=1) / df['B19001_001E']

df.head()

,NAME,GEO_ID,B19001_001E,B19001_002E,B19001_003E,B19001_004E,B19001_005E,B19001_006E,B19001B_001E,B19001B_002E,...,B15003_017E,B17001_001E,B17001_002E,B23025_002E,B23025_005E,B19058_002E,B19058_001E,B19056_002E,B19056_001E,pct_less_than_30K
0,"Autauga County, Alabama",0500000US01001,21856,1213,1051,1062,1324,1048,4228,422,...,10458,57790,7847,27550,752,2360,21856,1325,21856,0.260706
1,"Baldwin County, Alabama",0500000US01003,87190,4251,3672,2742,3340,3969,7095,647,...,36186,223772,20598,108873,3994,6215,87190,4007,87190,0.206147
2,"Barbour County, Alabama",0500000US01005,9088,1120,647,870,806,538,4079,800,...,5204,22250,5890,9369,808,2361,9088,963,9088,0.438050
3,"Bibb County, Alabama",0500000US01007,7083,528,555,434,388,259,1288,324,...,5556,21000,3558,9107,884,1272,7083,480,7083,0.305520
4,"Blount County, Alabama",0500000US01009,21300,1784,885,943,1082,1164,119,18,...,11019,58323,7720,25844,1554,2323,21300,1862,21300,0.275023

### Percent with less than High School Degree

In [76]:
# create a new column 'pct_less_than_high_school'
df['pct_less_than_high_school'] = df[['B15003_025E', 'B15003_024E', 'B15003_023E', 'B15003_022E', 'B15003_021E', 'B15003_020E', 'B15003_019E', 'B15003_018E', 'B15003_017E']].sum(axis=1) / df['B15003_001E']

df.head()

,NAME,GEO_ID,B19001_001E,B19001_002E,B19001_003E,B19001_004E,B19001_005E,B19001_006E,B19001B_001E,B19001B_002E,...,B17001_001E,B17001_002E,B23025_002E,B23025_005E,B19058_002E,B19058_001E,B19056_002E,B19056_001E,pct_less_than_30K,pct_less_than_high_school
0,"Autauga County, Alabama",0500000US01001,21856,1213,1051,1062,1324,1048,4228,422,...,57790,7847,27550,752,2360,21856,1325,21856,0.260706,0.895845
1,"Baldwin County, Alabama",0500000US01003,87190,4251,3672,2742,3340,3969,7095,647,...,223772,20598,108873,3994,6215,87190,4007,87190,0.206147,0.910142
2,"Barbour County, Alabama",0500000US01005,9088,1120,647,870,806,538,4079,800,...,22250,5890,9369,808,2361,9088,963,9088,0.438050,0.756710
3,"Bibb County, Alabama",0500000US01007,7083,528,555,434,388,259,1288,324,...,21000,3558,9107,884,1272,7083,480,7083,0.305520,0.805381
4,"Blount County, Alabama",0500000US01009,21300,1784,885,943,1082,1164,119,18,...,58323,7720,25844,1554,2323,21300,1862,21300,0.275023,0.836481

### Percent below poverty

In [77]:
# create a new column 'pct_below_poverty'
df['pct_below_poverty'] = df[['B17001_002E']].sum(axis=1) / df['B17001_001E']

df.head()

,NAME,GEO_ID,B19001_001E,B19001_002E,B19001_003E,B19001_004E,B19001_005E,B19001_006E,B19001B_001E,B19001B_002E,...,B17001_002E,B23025_002E,B23025_005E,B19058_002E,B19058_001E,B19056_002E,B19056_001E,pct_less_than_30K,pct_less_than_high_school,pct_below_poverty
0,"Autauga County, Alabama",0500000US01001,21856,1213,1051,1062,1324,1048,4228,422,...,7847,27550,752,2360,21856,1325,21856,0.260706,0.895845,0.135785
1,"Baldwin County, Alabama",0500000US01003,87190,4251,3672,2742,3340,3969,7095,647,...,20598,108873,3994,6215,87190,4007,87190,0.206147,0.910142,0.092049
2,"Barbour County, Alabama",0500000US01005,9088,1120,647,870,806,538,4079,800,...,5890,9369,808,2361,9088,963,9088,0.438050,0.756710,0.264719
3,"Bibb County, Alabama",0500000US01007,7083,528,555,434,388,259,1288,324,...,3558,9107,884,1272,7083,480,7083,0.305520,0.805381,0.169429
4,"Blount County, Alabama",0500000US01009,21300,1784,885,943,1082,1164,119,18,...,7720,25844,1554,2323,21300,1862,21300,0.275023,0.836481,0.132366

### Percent with cash public assistance or Food Stamps/SNAP

In [79]:
# create a new column 'pct_with_SNAP'
df['pct_with_SNAP'] = df[['B19058_002E']].sum(axis=1) / df['B19058_001E']

df.head()

,NAME,GEO_ID,B19001_001E,B19001_002E,B19001_003E,B19001_004E,B19001_005E,B19001_006E,B19001B_001E,B19001B_002E,...,B23025_002E,B23025_005E,B19058_002E,B19058_001E,B19056_002E,B19056_001E,pct_less_than_30K,pct_less_than_high_school,pct_below_poverty,pct_with_SNAP
0,"Autauga County, Alabama",0500000US01001,21856,1213,1051,1062,1324,1048,4228,422,...,27550,752,2360,21856,1325,21856,0.260706,0.895845,0.135785,0.107980
1,"Baldwin County, Alabama",0500000US01003,87190,4251,3672,2742,3340,3969,7095,647,...,108873,3994,6215,87190,4007,87190,0.206147,0.910142,0.092049,0.071281
2,"Barbour County, Alabama",0500000US01005,9088,1120,647,870,806,538,4079,800,...,9369,808,2361,9088,963,9088,0.438050,0.756710,0.264719,0.259793
3,"Bibb County, Alabama",0500000US01007,7083,528,555,434,388,259,1288,324,...,9107,884,1272,7083,480,7083,0.305520,0.805381,0.169429,0.179585
4,"Blount County, Alabama",0500000US01009,21300,1784,885,943,1082,1164,119,18,...,25844,1554,2323,21300,1862,21300,0.275023,0.836481,0.132366,0.109061

### Percent with Supplemental Security Income (SSI)

In [81]:
# create a new column 'pct_with_SSI'
df['pct_with_SSI'] = df[['B19056_002E']].sum(axis=1) / df['B19056_001E']

df.head()

,NAME,GEO_ID,B19001_001E,B19001_002E,B19001_003E,B19001_004E,B19001_005E,B19001_006E,B19001B_001E,B19001B_002E,...,B23025_005E,B19058_002E,B19058_001E,B19056_002E,B19056_001E,pct_less_than_30K,pct_less_than_high_school,pct_below_poverty,pct_with_SNAP,pct_with_SSI
0,"Autauga County, Alabama",0500000US01001,21856,1213,1051,1062,1324,1048,4228,422,...,752,2360,21856,1325,21856,0.260706,0.895845,0.135785,0.107980,0.060624
1,"Baldwin County, Alabama",0500000US01003,87190,4251,3672,2742,3340,3969,7095,647,...,3994,6215,87190,4007,87190,0.206147,0.910142,0.092049,0.071281,0.045957
2,"Barbour County, Alabama",0500000US01005,9088,1120,647,870,806,538,4079,800,...,808,2361,9088,963,9088,0.438050,0.756710,0.264719,0.259793,0.105964
3,"Bibb County, Alabama",0500000US01007,7083,528,555,434,388,259,1288,324,...,884,1272,7083,480,7083,0.305520,0.805381,0.169429,0.179585,0.067768
4,"Blount County, Alabama",0500000US01009,21300,1784,885,943,1082,1164,119,18,...,1554,2323,21300,1862,21300,0.275023,0.836481,0.132366,0.109061,0.087418

## Data Cleanup

In [83]:
df = df.drop(columns=req_vars)

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3221 entries, 0 to 3220
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   NAME                       3221 non-null   object
 1   GEO_ID                     3221 non-null   object
 2   state                      3221 non-null   object
 3   county                     3221 non-null   object
 4   pct_less_than_30K          3221 non-null   float64
 5   pct_less_than_high_school  3221 non-null   float64
 6   pct_below_poverty          3221 non-null   float64
 7   pct_with_SNAP              3221 non-null   float64
 8   pct_with_SSI               3221 non-null   float64
dtypes: float64(5), object(4)
memory usage: 251.6+ KB

,NAME,GEO_ID,state,county,pct_less_than_30K,pct_less_than_high_school,pct_below_poverty,pct_with_SNAP,pct_with_SSI
0,"Autauga County, Alabama",0500000US01001,01,001,0.260706,0.895845,0.135785,0.107980,0.060624
1,"Baldwin County, Alabama",0500000US01003,01,003,0.206147,0.910142,0.092049,0.071281,0.045957
2,"Barbour County, Alabama",0500000US01005,01,005,0.438050,0.756710,0.264719,0.259793,0.105964
3,"Bibb County, Alabama",0500000US01007,01,007,0.305520,0.805381,0.169429,0.179585,0.067768
4,"Blount County, Alabama",0500000US01009,01,009,0.275023,0.836481,0.132366,0.109061,0.087418

## Understanding the Data

In [84]:
df.describe()

,pct_less_than_30K,pct_less_than_high_school,pct_below_poverty,pct_with_SNAP,pct_with_SSI
count,3221.000000,3221.000000,3221.000000,3221.000000,3221.000000
mean,0.273047,0.876526,0.151739,0.139425,0.057440
std,0.103110,0.062635,0.078536,0.084510,0.030114
min,0.030303,0.184466,0.012048,0.000000,0.000000
25%,0.207489,0.843112,0.102226,0.087415,0.038542
50%,0.256952,0.890754,0.135895,0.123949,0.053060
75%,0.320227,0.922745,0.180265,0.166724,0.070845
max,0.832910,0.993976,0.670737,0.630624,0.352227